.error {
    color: #D8000C;
    background-color: #ffe3b4;
    font-family: 'Arial', Arial, Helvetica, sans-serif; /* Гарнитура текста */
    font-size: 110%;
}
.success {
    color: #22d870;
    background-color: #dcffc6;
    font-family: 'Arial', Arial, Helvetica, sans-serif; /* Гарнитура текста */
    font-size: 110%;
}
.oddLine {
    background-color: #a1c2d1;
}
.evenLine {
    background-color: #cce1ee;
}

thead {
    background: #ccf
}

table{

    border-style:none;
    font-family: Arial, Helvetica, sans-serif;
}

tr{
    background-color: #DFDFDF;
    height: 30px;
    text-align: left;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 18px;

}

th{
    padding-left: 10px;
    width:170px;
    vertical-align: middle;
    margin-left: 20px;

}

td{
    padding-left: 10px;
    width: 170px;
}

h1{
    font-family: Helvetica, Georgia, Verdana, Arial, sans-serif;
}

